body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

/* Header */
  header {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    align-items: center;
    position: fixed;
    z-index: 1;
    height: 8vh;
    width: 100vw;
    max-width: 100%;
  }
  
  .right {
    margin-right: 2%;
    position: relative;
    top: 50%;
    float: right;
    transform: translateY(-50%);
  }
  
  .left {
    margin-left: 2%;
    position: relative;
    top: 50%;
    float: left;
    transform: translateY(-50%);
  }
  
  .darkheader {
    color: white;
    background-color: black;
  }
  
  .right a {
    margin-left: 10px;
    padding: 4px 5px 4px 5px;
    text-decoration: none;
    color: rgb(190, 190, 190);
    border: 2px solid rgb(92, 92, 92);
    border-radius: 2px;
  }
  
  .left h1 a {
    color: rgb(190, 190, 190);
    text-decoration: none;
    font-size: 25px;
  }
  
  @media only screen and (max-width: 600px) {
    .right a {
      font-size: 12px;
    }
    .left h1 a {
      font-size: 33px;
    }
  }
/*Header End*/

/*Start Start*/

.start {
  position: relative;
  text-align: center;
  height: 100vh;
  color: white;
  text-decoration: none;
}

.startbackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.start h1 {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  margin: 0;
}

@media only screen and (max-width: 600px) {

  .start h1 {
    font-size: 50px;
  }
}

/*Start End*/









  .icons img{
    text-align: left;
    background: white;
    height: 100px;    

  }
  .foto img{
    text-align: center;
    background: white;
    height: 600px;    
 }